<div>
    <ul style="text-align: left; margin-left: 20%">
        <li>Transport publiczny (Public transport options):</li>
        <span style="margin-left: 30px; font-weight: bold">Pociągiem (By train): Kutno </span><a href="http://rozklad-pkp.pl/bin/query.exe/pn?" target="_blank">rozkład jazdy PKP</a> | <a href="http://rozklad-pkp.pl/bin/query.exe/en?" target="_blank">Train schedule in English</a><br>
        <span style="margin-left: 30px; font-weight: bold">Autobusem (By bus): Łódź Kaliska </span><a href="http://www.polskibus.com/" target="_blank">rozkład jazdy PolskiBus</a> | <a href="http://www.polskibus.com/en" target="_blank">Bus schedule in English</a><br>
    </ul>
    <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m35!1m12!1m3!1d156843.49207410312!2d19.298551938323417!3d52.103763111129126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m20!1i0!3e0!4m5!1s0x0%3A0x64f22e1d7e53c3c8!2sParafia+rzymskokatolicka+Wszystkich+%C5%9Awi%C4%99tych%E2%80%A6!3m2!1d51.996255!2d19.450991!4m5!1s0x471b999221677e5b%3A0x72779924aea2e283!2sZawady+9A%2C+99-314+Zawady%2C+Polonia!3m2!1d52.2027219!2d19.395409!4m5!1s0x471b998405fd8d2d%3A0xf7b45c7913ec02d2!2sHotel+Stacja+Kutno%2C+%C5%81%C4%85koszy%C5%84ska+127%2C+99-300+Kutno%2C+Polonia!3m2!1d52.211009!2d19.384346!5e0!3m2!1ses!2ses!4v1398952797244" width="800" height="450" frameborder="0" style="border:0"></iframe>
</div>